.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.card-container {
  background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent white background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow effect */
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px; /* Adjust width as needed */
  height: 400px; /* Adjust height as needed */
}

.login-container h2 {
  margin-bottom: 20px;
}

.login-container form {
  width: 300px; /* Adjust width as needed */
}

.login-container form div {
  margin-bottom: 15px;
}

.login-container form label {
  font-weight: bold;
}

.login-container form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.login-container form .error {
  color: red;
  margin-top: 8px;
}

.login-container form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-container form button:hover {
  background-color: #0056b3;
}
